.hero{
    background-image: url(/frontend/public/assets/hero/3-imagen-freelancer.jpg);
    background-position: center;
    background-size: cover;
    height: 45rem;
    position: relative;
    text-align: center;
    color: var(--white);
}

.hero__content{
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title {
    font-size: var(--fs-md);
    text-align: center;
}

.hero__locate{
    font-size: var(--fs-xs);
}

.hero__button{
    background-color: var(--primary-950);
    padding: 1rem 2.4rem;
    border-radius: 0.6rem;
    font-size: var(--fs-xs);
    font-weight: bold;
    text-transform: uppercase;
    width: 80%;
    margin-top: 4rem;
    text-align: center;
}

/* /para que el cursor se convierta en mano/ */
.hero__button:hover{
    cursor: pointer;
}

@media (width >768px) {
    .hero__button{
        width: auto;
    }
}