<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>
    <header>
    <h1 class="navbar_title"> 
        stiven agudelo
        <span class="navbar_subtitle">Pan con galletas</span>
    </h1>

    <div class="navbar-container">
        <nav class="navbar">
            <ul class="navbar_list">
                <li class="navbar_item"><a href="index.html" class="navbar_link">Inicio</a></li>
                <li class="navbar_item"><a href="clients.html" class="navbar_link">Clientes</a></li>
                <li class="navbar_item"><a href="about.html" class="navbar_link">Sobre mi</a></li>
                <li class="navbar_item"><a href="contact.html" class="navbar_link">Contacto</a></li>
            </ul>
        </nav>
    </div>
    `<div>Estoy en inicio</div>
    </header>

    
</body>
</html>